services:
  memgraph:
    image: memgraph/memgraph-mage:latest
    container_name: memgraph-mage
    user: root
    ports:
      - "9687:7687"
    environment:
      - MG_ENABLE_MAGE=1
    volumes:
      - ./data/memgraph/lib:/var/lib/memgraph
      - ./data/memgraph/log:/var/log/memgraph
      - ./data/memgraph/etc:/etc/memgraph
      - ./data/memgraph/data:/mg_data
    # command: --storage-properties-on-edges=true
    command: --schema-info-enabled=true --storage-enable-schema-metadata=true --storage-properties-on-edges=true

  lab:
    image: memgraph/lab:latest
    container_name: memgraph-lab
    ports:
      - "8010:3000"
    depends_on:
      - memgraph
    environment:
      - QUICK_CONNECT_MG_HOST=memgraph
      - QUICK_CONNECT_MG_PORT=7687

  mongo:
    image: mongo:latest
    container_name: graphxr-mongo
    volumes:
      - ./data/mongo:/data/db

  graphxr:
    image: kineviz/graphxr_lite:memgraph 
    container_name: graphxr
    platform: linux/amd64
    ports:
      - "8080:9000"
    volumes:
      - ./data/graphxr:/data
    environment:
      # GraphXR admin user settings
      - ADMIN_EMAIL=graphxr@kineviz.com
      - ADMIN_PASSWORD=kineviz123456
      # Memgraph connection settings
      - NEO4J_HOST=memgraph
      - NEO4J_BOLT_PORT=7687
      - NEO4J_USERNAME=graphxr@kineviz.com
      - NEO4J_PASSWORD=kineviz123456
      - NEO4J_DATABASE=memgraph
      # MongoDB connection settings
      - MONGO_URL=mongodb://mongo:27017/graphxr
    depends_on:
      - memgraph
      - mongo